.smaller-card {
    max-width: 250px; /* Cambia el ancho máximo de la tarjeta */
    margin: auto; /* Centra la tarjeta dentro de la columna */
}

.card a {
    background-color: #f44336;
    border: none;
    text-decoration: none;
    color: #fff;
}

.card a:hover {
    background-color: #d32f2f;
    border: none;
}

/* Eliminar el subrayado del enlace */
.text-decoration-none {
    text-decoration: none !important; /* Asegúrate de que no haya subrayado */
}

/* Agrega un margen superior al botón "Agregar al Carrito" */
.btn-agregar-carrito {
    margin-top: 10px; /* Espaciado superior para el botón */
}