.smaller-card {
    max-width: 250px; /* Cambia el ancho máximo de la tarjeta */
    margin: auto; /* Centra la tarjeta dentro de la columna */
}

.btn-orange {
    background-color: orange; /* Color de fondo anaranjado */
    border: none; /* Sin borde */
}

.btn-orange:hover {
    background-color: darkorange; /* Color de fondo más oscuro al pasar el mouse */
}

/* Eliminar el subrayado del enlace */
.text-decoration-none {
    text-decoration: none !important; /* Asegúrate de que no haya subrayado */
}

/* Agrega un margen superior al botón "Agregar al Carrito" */
.btn-agregar-carrito {
    margin-top: 10px; /* Espaciado superior para el botón */
}