/*MAIN*/
.mainContainer{
    display: flex;
}

.card-body{
    display: grid;
    justify-items: center;
}

.sidebar{
    background-color: #f9f9f9;
    padding: 2rem 0;
    padding-left: 1.3rem;
    position: relative;
    left: -1%;
}

ul{
    list-style: none;
    padding: 0 3rem;
}
.sidebar-Li{
    font-size: 15px;
    font-weight: 400;
}

.sidebarspace{
    display: flex;
    padding-bottom: .2rem;
}

h3{
    padding: 1rem .5rem;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0 auto;
}

.contenedor {
    background-color: #f9f9f9;
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 .5rem;
}


.card {
  margin: 0.6rem 0;
  text-align: center;
}
.card a {
  background-color: #f44336;
  border: none;
}
.card a:hover {
  background-color: #d32f2f;
  border: none;
}