/* Asegúrate de que el contenedor del producto esté centrado */
.card {
    margin: 0 auto;
    max-width: 100%;
}

/* Ajustar el tamaño de la imagen del producto */
.card-img-top {
    max-width: 300px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la relación de aspecto */
}

/* Ajustar el tamaño del texto en la tarjeta del producto */
.card-body h5 {
    font-size: 1.5rem; /* Tamaño de fuente para el nombre del producto */
}

.card-body p {
    font-size: 1.25rem; /* Tamaño de fuente para los datos del producto */
}

/* Ajustar el tamaño de los botones */
.btn-lg {
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Color de fondo semitransparente */
}

.modal-content {
    background-color: #fff; /* Fondo blanco para el contenido del modal */
}
