body {
  background: rgb(229, 236, 236);
  background: linear-gradient(
    0deg,
    rgba(236, 236, 236, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*MAIN*/

.hero {
  padding-bottom: 10px;
}
.hero img {
  width: 100%;
  height: 100%;
}

.hero h2 {
  font-size: 36px;
  display: flex;

  color: #2d1c1c;
}

h2 {
  background-color: #fff;
  padding: 1rem;
  border-radius: 4px;
}

.card {
  margin: 0.6rem 0;
  text-align: center;
}
.card a {
  background-color: #f44336;
  border: none;
}
.card a:hover {
  background-color: #d32f2f;
  border: none;
}

.carousel-item {
  background-color: #5e3b3b;
}
.carousel-item img {
  width: 300px;
}

.categoria h2 {
  margin-top: 10px;
}
.categoria_items {
  display: flex;
  justify-content: space-between;
}

.sobre {
  margin-bottom: 2rem;
  display: flex;
}
.sobre h1 {
  text-align: left;
  padding-bottom: 1.5rem;
  padding-right: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
}
.sobre p {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
}
.sobre .card img {
  width: 100%;
  margin: auto 0;
}

.FeaturedProduct {
  margin-bottom: 4rem;
}

/*CAROUSEL*/

.MultiCarousel {
  float: left;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  position: relative;
}
.MultiCarousel .MultiCarousel-inner {
  transition: 1s ease all;
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item {
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: #f1f1f1;
  color: #bababa;
}
.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
  position: absolute;
  border-radius: 10%;
  top: calc(50% - 20px);
}
.MultiCarousel .leftLst {
  left: 0;
}
.MultiCarousel .rightLst {
  right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
  pointer-events: none;
  background: #bababa;
}

/* BUSQUEDA */
#productSearchForm {
  position: relative; /* Necesario para posicionar el contenedor de sugerencias en relación al formulario */
}

#suggestions {
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 2px; /* Ajusta la distancia desde el campo de búsqueda */
  position: absolute; /* Asegura que se posicione en relación al formulario */
  top: 100%; /* Ubica el contenedor justo debajo del formulario */
  left: 0;
}

#suggestions .list-group-item {
  cursor: pointer;
}

#suggestions .list-group-item:hover {
  background-color: #f8f9fa;
}