/* General adjustments */
body {
  font-family: 'Arimo', sans-serif;
}

.bg-white {
  background-color: #ffffff; /* Fondo blanco */
}

/* Form links hover */
.claveOlvidada a, 
.cuenta a {
  color: #6c757d; /* Color gris para los enlaces */
}

.claveOlvidada a:hover, 
.cuenta a:hover {
  color: #e57368; /* Color de hover */
  transition: 0.2s ease-in-out;
}

/* Footer styling */
footer {
  background-color: #2d1c1c;
  color: #ffffff;
}

footer p {
  margin: 0;
  font-size: 0.875rem; /* Tamaño más pequeño */
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #e57368;
  transition: 0.2s ease-in;
}

/* Logo adjustments */
.logo img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}