.vh-100 {
  background-color: #f3f3f3;
}

.claveOlvidada a {
  color: #bababa;
}
.claveOlvidada a:hover {
  color: #e57368;
  transition: ease-in-out 0.2s;
}

.cuenta a {
  color: #bababa;
}
.cuenta a:hover {
  color: #e57368;
  transition: ease-in-out 0.2s;
}

.logo img {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

/*FOOTER*/
footer {
  background-color: #2d1c1c;
  color: #fff;
}
footer li a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #e57368;
  text-decoration: none;
  transition: 0.2s ease-in;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

.row {
  justify-content: center;
}
