/*INICIO*/
body {
  background-color: #bababa;
}

.interfaz {
  background-color: #e5e5e5;
  padding: 2rem;
  margin-left: 200px; /* Este margen se aplicará en pantallas más grandes */
}

.card-title {
  font-weight: 600;
}

.card-text-overlay {
  font-size: 20px;
  font-weight: 100;
}

.card-subtitle {
  font-weight: 500;
  text-transform: uppercase;
}

.card-body {
  text-align: center;
}

.card-link {
  color: #5e3b3b;
}

.card-link:hover {
  color: #E57368;
  transition: .2s ease-in-out;
}

.card-general img {
  width: 50%;
  margin: 0 auto;
}

.card-general p {
  font-size: .9rem;
}

/* Responsivo: en pantallas menores a 700px */
@media screen and (max-width: 700px) {
  .interfaz {
    margin-left: 0; /* Elimina el margen izquierdo en pantallas pequeñas */
    padding: 10px; /* Reduce el padding */
  }

  .container {
    max-width: 100%; /* Asegura que el ancho sea completo */
    padding: 0;
  }

  .card-body {
    padding: 1rem; /* Aumenta el padding para mejor visualización */
  }

  .card-title, .card-text-overlay, .card-subtitle {
    font-size: 18px; /* Reduce el tamaño de la fuente */
  }
}

/* Responsivo: en pantallas menores a 400px */
@media screen and (max-width: 400px) {
  .interfaz {
    padding: 5px; /* Reduce aún más el padding */
  }

  .card-title {
    font-size: 16px; /* Tamaño de fuente más pequeño */
  }
}