/* notificacion.css */
.notification {
  position: fixed;
  top: 20px; /* Ajusta esta propiedad para cambiar la posición vertical */
  right: 20px; /* Ajusta esta propiedad para cambiar la posición horizontal */
  z-index: 1000; /* Asegura que la notificación esté sobre otros elementos */
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}

.notification.success {
  background-color: #4caf50; /* Color de fondo para éxito */
  color: white;
}

.notification.error {
  background-color: #f44336; /* Color de fondo para error */
  color: white;
}