.notification {
    position: fixed; /* Fijar la posición */
    top: 20px; /* Ajustar según sea necesario */
    right: 20px; /* Ajustar según sea necesario */
    z-index: 1060; /* Asegurarse de que esté por encima del loader */
    background-color: #f8d7da; /* Color de fondo para la notificación */
    color: #721c24; /* Color de texto */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #f5c6cb; /* Bordes */
    border-radius: 5px; /* Bordes redondeados */
}