  /* PRODUCT PAGE */
  .producto {
    margin-top: 20px;
  }

  .producto h3 {
    font-size: 24px;
  }

  .producto p {
    font-size: 16px;
  }

  .producto hr {
    border: 1px solid #ddd;
  }

  .producto img.img-fluid {
    width: 100%;
  }

  .producto img.img-thumbnail {
    width: 20%;
  }

  .producto button {
    background-color: #ff9900;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  .producto button:hover {
    background-color: #cc7a00;
  }


  .card {
    padding: 10px; /* Reduce el padding de la tarjeta */
    margin: 0; /* Asegúrate de que no haya margen extra */
    border: 1px solid #ddd; /* Ajusta el borde si lo deseas */
}

.card a {
    background-color: #f44336;
    border: none;
    text-decoration: none;
    color: #fff;
}

.card a:hover {
    background-color: #d32f2f;
    border: none;
}

.custom-card {
    width: 80%; /* Ajusta el tamaño al 80% del ancho de su contenedor */
    margin: auto; /* Centra la card en su columna */
    margin-bottom: 0.5rem; /* Opcional: reduce el margen inferior de las tarjetas */
}