.vh-100 {
  background-color: #f3f3f3; /* Color de fondo */
}

.text-body {
  color: #bababa; /* Color del texto */
}
.text-body:hover {
  color: #e57368; /* Color al pasar el mouse */
  transition: ease-in-out 0.2s;
}

.form-check {
  display: flex;
  flex-direction: column;
}

.logo img {
  width: 50%; /* Ancho de la imagen del logo */
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
}

/* Footer */
footer {
  background-color: #2d1c1c; /* Color de fondo del pie de página */
  color: #fff; /* Color del texto */
}

footer a {
  color: #fff; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

footer a:hover {
  color: #e57368; /* Color de los enlaces al pasar el mouse */
  transition: 0.2s ease-in; /* Transición suave */
}

/* Ajustes generales */
body {
  font-family: 'Arimo', sans-serif; /* Fuente general */
}

.bg-white {
  background-color: #ffffff; /* Fondo blanco */
}

/* Enlaces del formulario al pasar el mouse */
.text-light a {
  color: #ffffff; /* Color de los enlaces */
}
.text-light a:hover {
  color: #e57368; /* Color de hover */
  transition: 0.2s ease-in-out; /* Transición suave */
}

/* Logo */
.logo img {
  max-width: 50%; /* Ancho máximo del logo */
  display: block;
  margin: 0 auto; /* Centrar el logo */
}