.vh-100 {
  background-color: #f3f3f3;
}

.text-body {
  color: #bababa;
}
.text-body:hover {
  color: #e57368;
  transition: ease-in-out 0.2s;
}

.form-check {
  display: flex;
  flex-direction: column;
}

.mask {
  padding: 2rem;
}

.logo img {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
}

/* Footer */
footer {
  background-color: #2d1c1c;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #e57368;
  transition: 0.2s ease-in;
}

.social-media {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.social-media a {
  text-decoration: none;
  color: #bababa;
}

.social-media a:hover {
  color: #e57368;
  transition: ease-in-out 0.2s;
}