.card-registration .form-outline {
  margin-bottom: 1.5rem; /* Espaciado entre campos */
}

body {
  font-family: 'Arimo', sans-serif; /* Fuente general */
}

.text-body {
  color: #bababa; /* Color del texto */
}
.text-body:hover {
  color: #e57368; /* Color al pasar el mouse */
  transition: ease-in-out 0.2s;
}

.logo img {
  width: 50%; /* Ancho de la imagen del logo */
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  justify-content: center;
}

footer {
  background-color: #2d1c1c; /* Color de fondo del pie de página */
  color: #fff; /* Color del texto */
}

footer a {
  color: #fff; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado */
}

footer a:hover {
  color: #e57368; /* Color de los enlaces al pasar el mouse */
  transition: 0.2s ease-in; /* Transición suave */
}