<div class="d-flex justify-content-center">
    <a href="/views/home/index.html" class="logo">
      <img src="/img/logo/Logo Letra trazo.png" alt="logo" />
    </a>

    <nav>
      <ul>
        <li class="inicio"><a href="#">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">Catálogo</a>
          <div class="dropdown-content">
            <a href="/views/shop/Cabeza/index.html">Cabeza</a>
            <a href="/views/shop/Candados/index.html">Candados</a>
            <a href="/views/shop/Cuerpo/index.html">Cuerpo</a>
            <a href="/views/shop/Escaleras/index.html">Escaleras</a>
            <a href="/views/shop/Herramientas/index.html">Herramientas</a>
            <a href="/views/shop/Luces/index.html">Luces</a>
            <a href="/views/shop/Maquinas/index.html">Maquinas</a>
            <a href="/views/shop/Pinturas/index.html">Pinturas</a>
          </div>
        </li>
      </ul>
    </nav>

    <form class="buscador">
      <input type="search" id="buscador" placeholder="" />
    </form>

    <div class="carro">
      <a href="#" class="carrito">
        <img src="/img/icono/carrito de compras.png" alt="carrito" />
      </a>
      <div class="carro-dropdown">
        <button>Vaciar Carrito</button>
      </div>
    </div>
      <button class="Log-In" id="login">Iniciar Sesion</button>
  </div>